/* Variables */
:root {
  /* Light Mode Text */
  --Very-Dark-Blue: hsl(204, 10%, 10%);
  /* Light Mode Input */
  --Dark-Gray: hsl(0, 0%, 52%);
  /* Light Mode Background */
  --Very-Light-Gray: hsl(0, 0%, 98%);
  /* Dark Mode Text & Light Mode Elements nav, card*/
  --White: hsl(0, 0%, 100%);
  --WhiteT: hsl(204, 10%, 10%);
  --color1: #fbcc1a;
  --color2: #cd8383;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Plus_Jakarta_Sans;
  src: url(/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}
html {
  font-size: 16px;
  font-family: Plus_Jakarta_Sans;
}
.dark {
  /* Dark Mode Elements nav , card Dark-Blue*/
  --White: hsl(209, 23%, 22%);
  /* Dark Mode Background Very-Dark-Blue */
  --Very-Light-Gray: hsl(207, 26%, 17%);
  /* Dark Mode Text & Light Mode Elements nav, card*/
  --WhiteT: hsl(0, 0%, 100%);
}
body {
  background-color: var(--Very-Light-Gray);
  /* padding-top: 60px; */
}
.btn {
  background-color: var(--color1);
  color: var(--WhiteT);
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 15px 25px;
  display: inline-block;
  border-radius: 25px;
  text-decoration: none;
  margin: 10px;
}

/* ---------------------------------- */
/*          start header              */
/* ---------------------------------- */

.container {
  margin-left: 15px;
  margin-right: 15px;
}

.my_logo {
  width: 170px;
  margin-left: 20px;
}
#mainmenu {
  background-color: var(--White);
  padding: 5px 0;

  position: absolute;
  width: 100%;
  top: 10px;
  /* left: 0; */
}
#mainmenu .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0px 5px 10px var(--White);
}
#menuControl {
  display: none;
}
#mainmenu .container .burgerMenu {
  padding: 3px 5px;
  border-radius: 10px;
  border: thin solid var(--WhiteT);
  font-size: 1.2rem;
  color: var(--WhiteT);
}
#mainmenu .container nav {
  width: 100%;
  display: none;
}

#mainmenu #menuControl:checked + nav {
  display: block;
}
#mainmenu .container nav > a {
  text-decoration: none;
  padding: 10px 10px;
  color: var(--WhiteT);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
}
#mainmenu .container nav > a:hover {
  /* background-color: var(--color1); */
  /* color: var(--WhiteT); */
  /* box-shadow: inset 0px 0px 10px #fff; */
  border-bottom: thick solid var(--color1);
}

#mainmenu .container .rightheader {
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
  align-items: center;
}
#mainmenu .container .rightheader .DLmode:hover {
  box-shadow: 0px 0px 10px var(--color1);
}
#mainmenu .container .rightheader .giticon,
#mainmenu .container .rightheader .DLmode {
  margin: 0 5px 0 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
#mainmenu .container .rightheader .giticon:hover {
  box-shadow: 0px 0px 10px var(--color1);
}

i {
  color: var(--WhiteT);
}
.btn > i {
  margin-left: 15px;
}

/* ---------------------------------- */
/*           end header               */
/* ---------------------------------- */

/* ---------------------------------- */
/*         start section one          */
/* ---------------------------------- */
#sec1 {
  margin-top: 75px;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
section .img_sec1 {
  width: 465px;
}
h1 {
  font-weight: 900;
  font-size: 3rem;
}
h1 > span {
  color: #cd8383;
}
#arti_sec1 {
  color: var(--WhiteT);
  text-transform: capitalize;
  background-color: var(--White);
  padding: 5px;
}

#arti_sec1 p {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 10px;
}
/* ---------------------------------- */
/*          end section one           */
/* ---------------------------------- */
/* ---------------------------------- */
/*        start section two           */
/* ---------------------------------- */
#sec2 .container1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#sec2 {
  display: flex;
  justify-content: center;
}
h2 {
  color: var(--WhiteT);
  margin: 50px 10px;
  font-weight: 900;
  font-size: 2.5rem;
  text-align: center;
}

#sec2 .img_sec2 {
  width: 250px;
}
#sec2 p b {
  color: var(--color2);
}
#sec2 p {
  margin-top: 30px;
  /* margin: 0 auto; */
  /* width: 90%; */
  padding: 10px;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
  background-color: var(--White);
  line-height: 1.5;
  color: var(--WhiteT);
}
#sec2 p > a:hover {
  background-color: var(--color1);
  border-radius: 20px;
  padding: 5px;
  text-shadow: 0px 5px 10px var(--color1);
}

/* ---------------------------------- */
/*          end section two           */
/* ---------------------------------- */
/* ---------------------------------- */
/*      start section three           */
/* ---------------------------------- */
#sec3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#sec3 h2 {
  width: 100%;
}
#sec3 .container {
  background-color: var(--White);

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#sec3 .container a > i {
  font-size: 3rem;
}
#sec3 .container a {
  margin: 10px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: var(--color1);
  color: var(--WhiteT);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: var(--WhiteT);
  font-weight: 900;
  font-size: 1.4rem;
}
#sec3 .container a:hover {
  scale: 1.2;
  box-shadow: 0 0 10px var(--color1);
}

/*popup*/
.popup {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: var(--Very-Light-Gray);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
}
.popup-content h2 {
  color: var(--color2);
  margin: 20px 10px;
  font-weight: 900;
  font-size: 2.5rem;
  text-align: left;
}
.popup-content h3 {
  color: var(--WhiteT);
  margin: 20px 30px;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: left;
}

.close-popup {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close-popup:hover,
.close-popup:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.progress {
  height: 30px;
  background-color: #ddd;
  border-radius: 5px;
  margin: 20px 0;
  overflow: hidden;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: var(--color1);
  color: white;
  text-align: center;
  line-height: 30px;
  transition: width 0.5s ease;
}

/*popup*/
/* ---------------------------------- */
/*         end section three          */
/* ---------------------------------- */
/* ---------------------------------- */
/*        start section four          */
/* ---------------------------------- */
#sec4 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#sec4 .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#sec4 .container figure {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#sec4 h3 {
  color: var(--color2);
  margin: 20px 0px;
  font-weight: 900;
  font-size: 1.4rem;
  text-align: left;
  width: 100%;
}

#sec4 .container figure img {
  width: 90vw;
  border: 5px solid #ddd;
  border-radius: 20px;
  margin: 20px 0px;
}
#sec4 .container figure img:hover {
  scale: 1.05;
  box-shadow: 0 0 10px var(--color1);
}
#sec4 .container figure figcaption {
  text-align: justify;
  background-color: var(--White);
  padding: 10px;
  color: var(--WhiteT);
  font-size: 1.2rem;
  font-weight: 400;
}
.btnM {
  display: flex;
  justify-content: space-around;
}

/* ---------------------------------- */
/*          end section four          */
/* ---------------------------------- */
/* ---------------------------------- */
/*           start section five           */
/* ---------------------------------- */

#sec5 {
  background-color: var(--color1);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px 0;
}
#sec5 h2 {
  color: var(--color2);
  margin: 20px 10px;
  font-weight: 900;
  font-size: 2.5rem;
  text-align: center;
  text-transform: capitalize;
}
#sec5 h2 > span {
  color: var(--WhiteT);

  font-size: 2rem;

  /* font-family:; */
}

#sec5 .btn_Hire {
  background-color: #fff;
  color: var(--Very-Dark-Blue);
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 700;
  padding: 15px 25px;
  display: inline-block;
  border-radius: 25px;
  text-decoration: none;
  margin-bottom: 10px;
}
#sec5 + h2 {
  color: var(--WhiteT);
  margin: 20px 10px;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.2;
}
/* ---------------------------------- */
/*             end section five          */
/* ---------------------------------- */
/* ---------------------------------- */
/*             start section six      */
/* ---------------------------------- */
#sec6 {
  background-color: var(--White);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#sec6 h2 {
  color: var(--color2);
  padding: 30px 0;
  margin: 0;
}
#sec6 .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px 0 30px 0;
}
#sec6 a {
  text-decoration: none;
  color: var(--WhiteT);
  margin: 0 5px 0 5px;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  border: thin solid var(--WhiteT);
}
#sec6 a:hover {
  scale: 1.05;
}
/* ---------------------------------- */
/*             end section six        */
/* ---------------------------------- */

/* ---------------------------------- */
/*           start footer             */
/* ---------------------------------- */
.attribution {
  text-align: center;
  padding: 10px 0;
}
/* ---------------------------------- */
/*           end footer             */
/* ---------------------------------- */

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
  #sec1 > .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  #sec1 .container #arti_sec1 {
    width: 90%;
    margin-top: 10px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
  #sec2 p {
    text-align: justify;
  }
  #sec3 .container a {
    margin: 20px;
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 940px;
  }
  #mainmenu .container nav,
  #mainmenu #menuControl:checked + nav {
    width: auto;
    display: flex;
    align-items: center;
  }
  #mainmenu .container .burgerMenu {
    display: none;
  }
  #mainmenu {
    /* position: relative; */
  }
  #mainmenu .container {
    flex-wrap: nowrap;
    text-align: center;
    width: 90%;
  }
  #mainmenu .container nav > a {
    display: inline-block;
    width: auto;
  }
  #mainmenu nav div {
    width: auto;
  }
  #mainmenu .container .rightheader {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
  }
  /* sec1 */
  #sec1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  #sec1 .container .img_sec1 {
    order: 2;
  }

  #sec1 > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
  }
  #sec1 .container #arti_sec1 {
    width: 49%;
    order: 1;
    text-align: left;
  }
  #arti_sec1 > p {
    line-height: 1.5;
  }
  /* sec2 ************************************/
  /* #sec2 .container h2 {
    width: 100%;
  } */
  #sec2 .container1 {
    margin: 0 auto;
    display: block;
  }
  #sec2 .img_sec2 {
    float: left;
    margin: 20px 20px;
  }
  #sec2 .img_sec2::after {
    clear: both;
  }
  #sec2 p {
    text-align: justify;
  }

  #sec4 .container figure figcaption .figCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  #sec4 .container figure figcaption .figCont p {
    width: 80%;
  }
  #sec4 .container figure figcaption .btnM {
    flex-wrap: wrap;
  }
  /* #sec4 .container figure figcaption .btnM {
    clear: both;
  } */
  #sec6 .container {
    justify-content: center;
  }
  #sec6 a {
    margin: 0 20px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
  section .img_sec1 {
    width: 500px;
  }
  #sec1 .container #arti_sec1 {
    padding: 20px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1340px;
  }
  section .img_sec1 {
    width: 550px;
  }
}
/* slider Dark light mode */
/* The switch - the box around the slider  */
/* .switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
} */

/* Hide default HTML checkbox */
/* .switch input {
  opacity: 0;
  width: 0;
  height: 0;
} */

/* The slider */
/* .slider {
  --background: #28096b;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: 0.5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #fff000;
  background: var(--background);
  transition: 0.5s;
}

input:checked + .slider {
  background-color: #522ba7;
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #fff000;
} */
